<div class="usershow clearfix">
  <h3><%= @user.name %></h3>

  <div id="relationships_buttons_<%= @user.id %>">
    <%= render partial: 'relationships/relationship', locals: {user: @user} %>
  </div>
</div>

<%= render partial: 'boards_index', locals: {board: @boards} %>