<div class="container text-center">
  <% if flash[:notice] %>
    <div class="alert alert-danger"><%= flash[:notice] %></div>
  <% end %>
  
  <h2>大切なお知らせ、もう見逃さない</h2>
  
  <div class="guestlogin">
    <%= link_to 'ゲストユーザーとしてログインする', login_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>